$primary-color-0: #4b367c;
$primary-color-1: #1d172e;
$secondary-color-0: #17141f;
$secondary-color-1: #1d172e;

$heading-color: silver;
$button-color: #cbc1af;
$icon-color: white;
$username-color: lavenderblush;
$status-color: lavenderblush;
